In [1]:
ns = 6
na = 1
pa = na/ns
print("probability of getting 3 is :",pa)

probability of getting 3 is : 0.16666666666666666

# probability of getting atleast getting one headn when a coin is tossed thrice

In [2]:
ns = 8
na = 7
pa = na/ns
print("probability of getting not blue jellybean is :",pa)

probability of getting not blue jellybean is : 0.875

In [3]:
P = 0.7*0.5
print("probability that they will be alive after 20 years is :",P)

probability that they will be alive after 20 years is : 0.35

In [4]:
def event_probability(n,s):
    return n/s

In [5]:
pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa*pb
print("probability of getting a 4 or 5 on the first toss ans o 1,2,or 3 in the second toss is:",P)

probability of getting a 4 or 5 on the first toss ans o 1,2,or 3 in the second toss is: 0.16666666666666666

In [6]:
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
P = pw*pb*pg
print("probability of getting a 4 or 5 on the first toss ans o 1,2,or 3 in the second toss is:",P)

probability of getting a 4 or 5 on the first toss ans o 1,2,or 3 in the second toss is: 0.041666666666666664

In [7]:
#Sample cards
cards = 52

# calculte the probabilty of drawing a heart or a club
hearts = 13
clubs = 13
heart_or_clubs = event_probability(hearts,clubs) + event_probability(clubs,cards)
print(heart_or_clubs)

1.25

In [8]:
#Sample cards
cards = 52

# calculte the probabilty of drawing a ace or a king or a queen
king = 4
queen = 4
ace = 4

ace_King_or_Queen = event_probability(ace,cards) + event_probability(queen,cards) + event_probability(king,cards)
print(ace_King_or_Queen)

0.23076923076923078

In [9]:
#Sample cards
cards = 52

# calculte the probabilty of drawing a ace or a king or a queen
heart = 13
ace = 4
ace_of_hearts = 1

ace_or_heart = event_probability(heart,cards) + event_probability(ace,cards) - event_probability(ace_of_hearts,cards)
print(round(ace_or_heart,1))

0.3

In [10]:
# Calculate thre probability of  drawing red cards or a face cards
red_cards =26
face_cards = 12
red_face_cards = 6
red_or_face_cards = event_probability(red_cards,cards) + event_probability(face_cards,cards) - event_probability(red_face_cards,cards)

print(round(red_or_face_cards,1))

0.6

# Complimentry Event

In [11]:
# probability of not getting 5 when a fair dice is rolled 
ns = 6 #n(S)={1,2,3,4,5,6}
na = 1  #n(A)={5}
pa = na/ns
print("probability of getting 5 is :",1-pa)

probability of getting 5 is : 0.8333333333333334

# Conditional probabity

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('D:\student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [15]:
len(df)

395

In [16]:
df['grade_A']=np.where(df['G3']*5 >=80,1,0)

In [17]:
df['high_absences'] = np.where(df['absences']>=10,1,0)

In [18]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,0,0

In [19]:
df['count']=1

Unsupported Cell Type. Double-Click to inspect/edit the content.

In [20]:
df=df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Unsupported Cell Type. Double-Click to inspect/edit the content.

In [21]:
final = pd.pivot_table(
        df,
        values='count',
        index=['grade_A'],
        columns=['high_absences'],
        aggfunc=np.size,
        fill_value=0
)

In [22]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [23]:
pa = (35+5)/(277+78+35+5) # student h=who have grade A
print(pa)
pb = (78+5)/(277+78+35+5) # student who have absent more than 10 lecture
print(pb)
p_a_or_b = 5/(277+78+35+5) # student who have absent more than 10 lec. and having grade A
print(p_a_or_b)
P_ab = p_a_or_b/pb 
print(P_ab)

0.10126582278481013
0.21012658227848102
0.012658227848101266
0.060240963855421686

# Combinatorics: Permutations, Variations & Combinations

Consider the following example. we have a box with some balls inside(each with a different color) and we want to compute the number of ways we can arrange those balls. We can do so with two different approaches: with repetition (each ball is reinserted into the box after it is picked) or without repetition.

With Repetition: the idea is that, after each ball extracted, we can pick it agian as many times as we want. Let's have an easy start and consider the box={g,b}, where g='green ball' and b='blue ball':well, in that case, the possible ways we can arrange those balls are 'gg','bg','gb','bb'. We can also compute it with python:

If we want to generalize, when we have n objects and we want to see in how many ways we can arrange them, we have:

nnn.............n=n^n

In [24]:
import itertools
from itertools import product
box_1=['g','b']
perm=[]
for p in itertools.product(box_1, repeat=2):
    perm.append(p)

perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

Without repetition: in this case, once you picked one ball, it cannot be used anymore. So each arrangement of balls will have unique values. In that case, coming back to our box={g,b}, the two possible permutations are 'gb' and 'bg':

In that case, we have to consider, after each extraction, that the number of available elements is one less. So, if we have n elements in our set, the permutation will be:

 1*2*3*............*n=n!

In [25]:
import itertools

box_1=['g','b']
perm=itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [26]:
import itertools

box_1=['g','b','y']
perm=itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

Variations are nothing but permutations where the number of objects we have to pick is less than the total number of objects n. Let's simply retrieve the example above and lets say that, out of three balls, we want to arrange only the first and second positions. Lets use the box= {g,b,y} and lets start with the case of repetition:

With repetition: we want to choose two balls (k=2) out of three (n=3) and compute the number of possible permutations: which can be calculated as:

V(n,k)=nn....................(k times)= n^k

In [27]:
box_2=['g','b','y']
perm=[]
for p in itertools.product(box_2, repeat=2):
    perm.append(p)

perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

Without repetition: the same reasoning holds if there are no repetitions. Indeed: In that case, we have:

V(n,k)=n!/(n-k)!

In [28]:
box_2=['g','b','y']
perm=itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

Comninations

Combinations are variations(or permutations, if k=n) where the order does not matter. Basically, we use combinations whenever we want to compute in how many ways, from n objects, we can extract k of them, regardless of the order with which those are picked.

Namely, if you recall the permutation without repetition we examined at the very beginning, whose outputs were 'gb' and 'bg', the equivalent combination would be only 'gb' (or only 'bg'), since the order does not matter, hence they represent the same object.

Lets see it with python, always examining separately the two cases of repetition and no repetition:

With repetition:

The number of possible combinations (with repetition) is given by:

   C(n,k) = (n+k-1)!/k!(n-1)!

In [29]:
from itertools import combinations_with_replacement

box_1=['g','b']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [30]:
from itertools import combinations_with_replacement

box_1=['g','b','y','w']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

Without repetition:

The number of possible combinations (without repetition) is given by:

 C(n,k) = n!/k!(n-k)!

In [31]:
from itertools import combinations
box_1=['b','g']
comb= combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')

In [32]:
from itertools import combinations
box_1=['b','g','y']
comb= combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')